## Import

In [1]:
import pandas as pd

## Load Data

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')

## Explore initial data

In [12]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [8]:
df1 = df[df.isna().any(axis=1)]
df1

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [42]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                50 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.7+ KB

### question 1

What college major has the highest mid-career salary?

In [40]:
# college_major_highest_mid_career_salary = df.loc[
#     df['Mid-Career Median Salary'].max(), 'Undergraduate Major']
ans_1 = df.loc[
    df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].max(), 'Undergraduate Major'
    
].to_list()[0]
ans_1

'Chemical Engineering'

How much do graduates with this major earn?

In [41]:
ans_1_earn = df.loc[
    df['Undergraduate Major'] == ans_1, 'Mid-Career Median Salary'
].to_list()[0]
ans_1_earn

107000.0

### question 2

Which college major has the lowest starting salary

In [44]:
ans_2 = df.loc[
    df['Starting Median Salary'] == df['Starting Median Salary'].min(), 'Undergraduate Major'
    
].to_list()[0]
ans_2

'Spanish'

how much do graduates earn after university?

In [49]:
ans_2_earn = df.loc[
    df['Undergraduate Major'] == ans_2, 'Starting Median Salary'
].to_list()[0]
ans_2_earn

34000.0

### question 3

Which college major has the lowest mid-career salary?

In [46]:
ans_3 = df.loc[
    df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].min(), 'Undergraduate Major'
    
].to_list()[0]
ans_3

'Education'

how much can people expect to earn with this degree?

In [50]:
ans_3_earn = df.loc[
    df['Undergraduate Major'] == ans_3, 'Mid-Career Median Salary'
].to_list()[0]
ans_3_earn

52000.0

In [51]:
df['Percentile_difference'] = df[
    'Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']
ans_4 = df.loc[
    df['Percentile_difference'] == df['Percentile_difference'].min(), 'Undergraduate Major'
    
].to_list()[0]
ans_4

'Nursing'

In [66]:
index_top_5 = df['Mid-Career 90th Percentile Salary'].sort_values(ascending=False).head(5).index
df.iloc[index_top_5]['Undergraduate Major'].to_list()

['Economics', 'Finance', 'Chemical Engineering', 'Math', 'Physics']

In [67]:
index_top_5 = df['Percentile_difference'].sort_values(ascending=False).head(5).index
df.iloc[index_top_5]['Undergraduate Major'].to_list()

['Economics', 'Finance', 'Math', 'Marketing', 'Philosophy']